/***
* Created by Edwin Prasetio
* custom css 
***/


html, body{
	height: 100%;
}

body{
	font-size:13px;
	color:#494949;
	background-color:#ededed;
}

footer{
	background-color:#2b2b2b;
	color: #fff;
}

/* Headings Margins */
h1, h2, h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

h4, h5, h6{
	margin-top: 2px;
	margin-bottom: 2px;
}

/*=== Landing Page ===*/
.landing-page-container{
	height: 100%;
	width: 100%;
	background-color: #2b2b2b;
}

.landing-page-msg-container{
	padding-top:15%;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	color:#fff;
}

.landing-page-cover-container{
	margin-top:25px;
	height:20%;
	background-image:url(../img/cover.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position: 75% center;
}

/*=== navbar ===*/
.navbar-inverse{
	background-color:#2b2b2b;
	border-color:#2b2b2b;
	color:#fff;
}

.navbar-inverse .navbar-brand{
	color:#fff;
}

.navbar-brand{
	color:#fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{
	color: #729bc3;
	background-color: #2b2b2b;
}

.navbar-inverse .navbar-nav>.active>a:hover{
	color: #fff;
	background-color:  #2b2b2b;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus{
	color: #729bc3;
	background-color:  #2b2b2b;
}

.navbar-inverse .navbar-nav>.open>a:hover{
	color: #fff;
	background-color:  #2b2b2b;
}

.navbar-inverse .navbar-nav>li>a{
	color: #729bc3;
	background-color:  #2b2b2b;
}

/*=== Main Page ===*/
.carousel-cover{
	margin-top:51px;
}

.carousel-inner>.item>img{
	width:100%;
	height:750px;
}

.search-form{
	position:absolute;
    z-index:9999999;
    text-align:center;
    text-shadow: 1px 1px 40px #fff;
    color:#000;
    top:180px; /* change to whatever you want */
    left:20%; /* change to whatever you want */
    right:20%; /* change to whatever you want */
    bottom:auto; /* change to whatever you want */
}

/*=== typography ===*/
.section-heading{
	font-size:21px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:4px;
	border-bottom: solid 1px #eee;
	color:#e0e0;
}

.section-title{
	font-size:17px;
	font-weight:500;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	color:#e0e0;
}

/*=== Main Page Pictures ===*/
.main-page-pic{
	width:auto;
	height:400px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}

/*=== Main Container ===*/
.main-container{
	max-width: 960px;
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#d6d6d6;
	margin-top:20px;
}

.left-main-container{
	width: 68.333333%;
	position: relative;
	min-height: 1px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	border-right: solid 1px #eee;
	float: left;
}

.right-main-container{
	width: 31.666667%;
	position: relative;
	min-height: 1px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}

.right-main-container-sm{
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

/*=== Profile Page ===*/
.prof-main-container{
	max-width: 960px;
	margin-top:70px;
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#d6d6d6;
}

.prof-pic{
	margin:60px 0px 15px 0px;
}

.prof-rating{
	font-size:15px;
	font-weight:bold;
	color:#e0e0;
}

.prof-info-label{
	display:inline-block;
	width:120px;
}

.prof-info-data{
	display:inline-block;
	width:250px;
}

.progress{
	margin-bottom:0px;
}

.small-text{
	font-size:11px;
}

.map-container{
	width: auto;
	margin-top:5px;
	margin-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}

.tab-content>.tab-pane{
	margin-top:20px;
}

.user-prof-pic-thumb{
	width:100%;
	height:auto;
}

.less-55{
	color:#d03b3b;
}

.between-55-85{
	color:#ed9f35;
}

.above-85{
	color:#4aaf46;
}

.prof-usr-review-container{
	padding: 20px 15px 15px 15px;
	border-bottom:solid 1px #eee;
}

.usr-review-rating{
	width:270px;
	float:left;
}

.usr-review-date{
	width:60px;
	float:left;
}

.prof-usr-interview-container{
	padding-top:20px;
	padding-bottom:5px;
	border-bottom:solid 1px #eee;
}

.usr-interview-result{
	width:270px;
	float:left;
}

.result-accepted{
	color:#4aaf46;
}

.result-rejected{
	color:#d03b3b;
}

/*=== Form Page ===*/
.form-main-container{
	max-width: 960px;
	min-height: 800px;
	margin-top:70px;
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#d6d6d6;
}

/*=== Footer Container ===*/
.footer-container{
	max-width: 960px;
}

.footer-contents{
	list-style-type: none;
	padding-top:35px;
	padding-bottom:5px;
}

.trademark{
	text-align: center;
	font-size: 10px;
}

